.welcome {
  h4,
  h3 {
    padding: 20px;
    font-weight: lighter;
  }
}
summary {
  cursor: pointer;
}
details {
  font-size: smaller;
  // background-color: #f3c7b2;
  @include theme-aware("background-color", "detailsBg");
  padding: 5px;
  margin-bottom: 5px;
}
.audioNotifi {
  position: absolute;
  top: 100px;
  right: 20px;

  button {
    width: 25px;
    height: 25px;
    border: 0;
    color: #fff;
    border-radius: 5px;
    padding-left: 1.7px;
    background-color: #cecece;
  }
  .ON {
    // background-color: green;
    color: green;
  }
  .OFF {
    color: #a00000;
    // background-color: #a00000;
  }
}
