.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20vw;

  .left-stats {
    .me {
      @include theme-aware("color", "eee");
      display: flex;
    }

    height: 50px;
    @include theme-aware("background-color", "main");
    @include theme-aware("border-right", "borderRight");

    p {
      @include theme-aware("color", "content");
      padding: 5px;
    }
  }
  .left-users {
    flex: 1 1 0;
    @include theme-aware("background-color", "users");
    @include theme-aware("border-top", "borderTop");
    @include theme-aware("border-right", "borderRight");

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

//

.flex-right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;

  .right-infos {
    height: 50px;
    padding: 5px;
    @include theme-aware("background-color", "info");
    @include theme-aware("color", "infos");
    .ca {
      color: #eee;
      font-style: italic;
    }
  }
  .right-content {
    flex: 1 1 0;
    @include theme-aware("background-color", "content");
    @include theme-aware("border-top", "borderTop");
    @include theme-aware("border-bottom", "borderBottom");

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .comments {
      padding-left: 10px;
    }
  }
  .right-input {
    .input-form {
      display: flex;
      flex-direction: row;
      width: 80vw;

      input {
        flex: 1 1 0;
        height: 50px;
        border: 0;
      }
      button {
        width: 70px;
        height: 50px;
        border: 0;
      }
    }
    @media only screen and (max-width: 950px) {
      .input-form {
        width: 100vw;
      }
    }
  }
}

.usersListModal {
  display: none;
}
.welcomeInfoList-top {
  display: none;
}
.ui.modal {
  .user {
    @include theme-aware("background-color", "uiModalBg");
  }
}
.me {
  margin: 10px;
  @include theme-aware("color", "white");
}
.typing {
  @include theme-aware("background-color", "typingBg");
  @include theme-aware("border-bottom", "borderBottom");
}

@media only screen and (max-width: 950px) {
  .welcomeInfoList-left {
    display: none;
  }
  .welcomeInfoList-top {
    display: inline;
  }
  .flex-left {
    display: none;
  }
  .usersListModal {
    display: inline;

    .settings {
      // background-color: #666;
      // color: #505050;
      margin-top: 7px;
      margin-right: 10px;
      float: left;
      padding: 5px;
      border-radius: 5px;
    }
    .users {
      float: right;
      .usersBtn {
        // background-color: #666;
        //color: #505050;
        margin-top: 5px;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;

        .usersIconTop {
          float: left;
        }
      }
    }
  }
  .flex-right {
    width: 100vw;
  }
}
