.log {
  padding: 5px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  li {
    list-style: none;
    display: flex;
  }
  .time {
    /* color: #383e56; */
    width: 50px;
  }
  .name {
    /* color: #383e56; */
    margin-right: 5px;
    /* width: 10%; */
  }
  .seperator {
    /* color: #383e56; */
    width: 12px;
  }
}

.from {
  .time,
  .name {
    color: green;
    font-size: smaller;
  }
}

.to {
  .time,
  .name {
    color: orangered;
    font-size: smaller;
  }
}

.name {
  font-style: italic;
}
.userMsg {
  color: #383e56;
}

.welcome {
  h4,
  h3 {
    padding: 20px;
    font-weight: lighter;
  }
}

.infoKeys {
  font-size: 12px;
  margin-top: 5px;
  border-top: 1px solid orangered;
}
