.welcome {
  h4,
  h3 {
    padding: 20px;
    font-weight: lighter;
  }
}
.infoKeys {
  font-size: 12px;
  margin-top: 5px;
  border-top: 1px solid orangered;
}
details {
  font-size: smaller;
  background-color: #f3c7b2;
  padding: 5px;
  margin-bottom: 5px;
}
details span {
  display: block;
}
details hr {
  border: 0.5px solid #ff8c5e;
}
