.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-left {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20vw;

  .left-stats {
    height: 50px;
    background-color: $main;
    border-right: 1px solid $main;

    p {
      color: $content;
      padding: 5px;
    }
  }
  .left-users {
    flex: 1 1 0;
    background-color: $users;
    border-top: 1px solid $main;
    border-right: 1px solid $main;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

//

.flex-right {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 80vw;

  .right-infos {
    height: 50px;
    background-color: $info;
    padding: 5px;
    color: $infos;
  }
  .right-content {
    flex: 1 1 0;
    background-color: $content;
    border-top: 1px solid $main;
    border-bottom: 1px solid $main;

    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    .comments {
      padding-left: 10px;
    }
  }
  .right-input {
    .input-form {
      display: flex;
      flex-direction: row;
      width: 80vw;

      input {
        flex: 1 1 0;
        height: 50px;
        border: 0;
      }
      button {
        width: 70px;
        height: 50px;
        border: 0;
      }
    }
    @media only screen and (max-width: 950px) {
      .input-form {
        width: 100vw;
      }
    }
  }
}

.usersListModal {
  display: none;
}
.welcomeInfoList-top {
  display: none;
}
.ui.modal {
  .user {
    background-color: $eee !important;
  }
}
.me {
  margin: 10px;
  color: $white;
}
.typing {
  background-color: $typing;
  border-bottom: 1px solid $main;
}
// .ui.modal {
//   .header {
//     background-color: #d6aea6 !important;
//   }
//   .content {
//     background-color: $users !important;
//   }
//   .actions {
//     background-color: #d6aea6 !important;
//   }
// }

@media only screen and (max-width: 950px) {
  .welcomeInfoList-left {
    display: none;
  }
  .welcomeInfoList-top {
    display: inline;
  }

  .flex-left {
    display: none;
  }
  .usersListModal {
    display: inline;
    float: right;
  }
  .flex-right {
    width: 100vw;
  }
}
