.userstitle {
  font-size: 14px;
  margin: 10px;
  border-bottom: 1px solid #383e56;
  color: rgb(10, 10, 10);
}

.noMatched {
  margin: 10px;
}
.noMatched .no {
  margin-bottom: 10px;
  font-weight: bolder;
}
.offline {
  @include theme-aware("background-color", "offlineBg");
}
.offlineInfo {
  @include theme-aware("color", "offlineInfoColor");
  @include theme-aware("background-color", "offlineInfoBg");
  font-weight: lighter;
  margin-left: 5px;
  padding: 3px;
  border-radius: 3px;
}
.users {
  .active {
    @include theme-aware("border", "activeBorder");
  }
  .user {
    border: 1px solid #bbb;
    @include theme-aware("background-color", "content");
    margin: 5px;
    padding: 5px !important;
  }
  .utag {
    border: 1px solid #28008662;
    padding: 1px;
    border-radius: 5px;
    font-size: smaller;
  }
}
