.userstitle {
  font-size: 16px;
  margin: 10px;
  border-bottom: 1px solid #383e56;
  color: rgb(10, 10, 10);
}

.noMatched {
  margin: 10px;
}
.noMatched .no {
  margin-bottom: 10px;
  font-weight: bolder;
}
.offline {
  background-color: rgb(150, 150, 150) !important;
}
.offlineInfo {
  color: #202020;
  font-weight: lighter;
  background-color: #808080;
}
.active {
  border: 2px solid #383e56 !important;
}
.user {
  border: 1px solid #bbb;
  background-color: $content;
  margin: 10px;
  padding: 5px;
}
